@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  background-color: #e5e5e5;
  color: #333333;
}

/* Кнопки */
.button {
  font-family: "PTSans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
  display: inline-block;
}

/*  Навигация */
.navigation {
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  background-color: #ffffff;
  color:#000000;
}

.navigation-link {
  text-decoration: none;
  color:#000000;
}

.button-navigation {
  color:#ffffff;
  background-color: #756257;
  width: 160px;
  height: 37px;
  border: none;
  border-radius: 4px;
}

/*  Welcome */
.welcome {
  width: 1200px;
  height: 485px;
  margin: 0 auto;
  background: url("../images/welcome.svg") no-repeat 371px 51px, url("../images/index-background-top-layer.svg") repeat-x 0 428px, url("../images/index-background.jpg");
}

/* Тagline */
.tagline {
  margin: 0 auto;
  padding-top: 63px;
  padding-bottom: 79px;
  text-align: center;
  background-color: #ffffff;
}

.tagline-title {
  margin-bottom: 23px;
  margin-top: 0;
}

.title-h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.tagline-description {
  margin: 0 auto;
  font-weight: 400;
  font-style: normal;
  line-height: 36px;
}

/*  Каталог */
.filter-hotels-container {
  background-color: #88a4b9;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
}



