@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.container-shadow {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  background-color: #e5e5e5;
  color: #333333;
}

.main-container {
  flex-grow: 1;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Кнопки */
.button {
  font-family: "PTSans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.side-indent {
  padding-right: 70px;
  padding-left: 70px;
}

/*  Навигация */

.page-header {
  width: 1200px;
  display: flex;
  padding-right: 70px;
  padding-left: 70px;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  width: 100%;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  background-color: #ffffff;
  color:#000000;
}

.navigation-list {
  margin: 0;
  list-style-type: none;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 0;
  padding-right: 0;
}

.navigation-general {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  margin-left: 63px;
  padding-top: 20px;
  padding-bottom: 20px;
  list-style-type: none;
}

.navigation-left-item:not(:last-child) {
  margin-right: 34px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  list-style-type: none;
}

.navigation-search {
  margin-right: 24px;
}

.navigation-favorite {
  margin-right: 32px;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.navigation-link:hover:not(.navigation-link-current) {
  color: #756257;
  fill: #756257;
}

.navigation-link:focus:not(.navigation-link-current) {
  color: #756257;
}

.navigation-link:active:not(.navigation-link-current) {
  color:rgba(117, 98, 87, 0.3);
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-link:not([href]) {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 24px;
}

.button-navigation {
  width: 130px;
  height: 20px;
  line-height: 21px;
  border: none;
  border-radius: 4px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #756257;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.button-navigation:active
.button-navigation:focus,
.button-navigation:hover {
  background-color: #615048;
}

.button-navigation:focus {
  outline: 3px solid #83b3d3;
}

.button-navigation:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link-favorite {
  position: relative;
  display: block;
}

.round-green {
  position: absolute;
  top: -5px;
  right: -14px;
  display: block;
  box-sizing: border-box;
  width: 19px;
  height: 19px;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  font-style: normal;
  padding-top: 2px;
  padding-left: 4px;
  border-radius: 50%;
  background-color: #7DB54F;
  color: #FFFFFF;
}

.round-green:active{
  color:rgba(255, 255, 255, 0.3);
}

.logo-link {
  position: relative;
  display: block;
  width: 138px;
  height: 65px;
}

.logo-img {
  position: absolute;
  z-index: 1;
}

/*  Welcome */
.welcome {
  width: 1200px;
  padding-top: 51px;
  padding-bottom: 82px;
  background: url("../images/index-background-top-layer.svg") repeat-x 0 428px, url("../images/index-background.jpg") repeat no-repeat;
}

.welcome-img {
  display: block;
  margin: 0 auto;
}

/* Тagline */
.tagline {
  margin: 0 auto;
  padding-top: 63px;
  padding-bottom: 79px;
  padding-right: 240px;
  padding-left: 240px;
  text-align: center;
  background-color: #ffffff;
}

.tagline-title {
  margin-bottom: 31px;
  margin-top: 0;
}

.tagline-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
}

.tagline-description {
  margin: 0 auto;
  font-weight: 400;
  font-style: normal;
  line-height: 36px;
}

/* Преимущества */

.advantages-title,
.advantages-additional-title  {
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  }

.advantages-number,
.advantages-description,
.advantages-additional-description {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.advantages-title-town,
.advantages-number-town,
.advantages-description-town,
.advantages-title-bridge,
.advantages-number-bridge,
.advantages-description-bridge {
  color: #ffffff;
  margin: 0;
}



.advantages-item-town,
.advantages-item-bridge {
  background-color: #83b3d3;
  color: #ffffff;
}

.advantages-title-town,
.advantages-title-bridge {
  color: #ffffff;
}

/* GRID begin */
.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 384px 384px 384px 384px;
}

.advantages-item-town {
  grid-column: 1/2;
  grid-row: 1/2;
}

.adv-img-town {
  grid-column: 2/4;
  grid-row: 1/2;
}

.additional-wrapper {
  grid-column: 1/4;
  grid-row: 2/3;
}

.adv-img-bridge {
  grid-column: 1/3;
  grid-row: 3/4;
}

.advantages-item-bridge {
  grid-column: 3/4;
  grid-row: 3/4;
}

.advantages-item-area {
  grid-column: 1/2;
  grid-row: 4/5;
}

.advantages-item-road {
  grid-column: 2/3;
  grid-row: 4/5;
}

.advantages-item-tourist {
  grid-column: 3/4;
  grid-row: 4/5;
}

/* GRID end */

.advantages-item-town,
.advantages-item-bridge {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 97px;
  text-align: center;
}

.advantages-title {
  padding-bottom: 25px;
}

.advantages-number {
  display: inline-block;
  padding-bottom: 30px;
}

.advantages-item-area,
.advantages-item-road,
.advantages-item-tourist {
  padding-top: 97px;
  padding-left: 75px;
  padding-right: 75px;
  text-align: center;
}

/* Дополнительные преимущества Begin */
.advantages-item-area,
.advantages-item-tourist {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-number,
.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
}

.advantages-number-town,
.advantages-number-bridge,
.advantages-description-white {
  color: #ffffff;
}

.advantages-additional-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.advantages-additional-item {
  padding-top: 184px;
  padding-right: 75px;
  padding-left: 75px;
  padding-bottom: 89px;
}

.adv-add-item-housing,
.adv-add-item-souvenirs {
  background-color: #f0f6fa;
}

.adv-add-item-food {
  background-color: #ffffff;
}

.advantages-additional-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.advantages-additional-description {
  color: #333333;
  margin: 0;
  width: 250px;
  font-size: 18px;
  line-height: 21px;
}

.adv-add-img-housing {
  position: relative;
}

.adv-add-img-housing:before {
  position: absolute;
  content: " ";
  top: -95px;
  right: 90px;
  width: 75px;
  height: 72px;
  background-image: url("../images/housing.svg");
}

.adv-add-img-food {
  position: relative;
}

.adv-add-img-food:before {
  position: absolute;
  content: " ";
  top: -93px;
  right: 90px;
  width: 74px;
  height: 70px;
  background-image: url("../images/food.svg");
}

.adv-add-img-souvenirs {
  position: relative;
}

.adv-add-img-souvenirs:before {
  position: absolute;
  content: " ";
  top: -96px;
  right: 85px;
  width: 74px;
  height: 76px;
  background-image: url("../images/souvenirs.svg");
  background-repeat: no-repeat;
}
/* Дополнительные преимущества end */
/* Переход на страницу поиска гостиниц*/
.hotel-search {
  margin: 0 auto;
  padding-top: 91px;
  padding-bottom: 93px;

  text-align: center;
  background-color: #ffffff;
}

.hotel-search-title {
  margin: 0 0 29px 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
}

.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 55px 0;
  padding-left: 294px;
  padding-right: 313px;
}

.button-hotel-search {
  display: inline-block;
  width: 575px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 9px;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: #726257;
  color: #ffffff;
}

.button-hotel-search:active,
.button-hotel-search:focus,
.button-hotel-search:hover {
  background-color: #615048;
}

.button-hotel-search:focus {
  outline: 3px solid #83b3d3;
}

.button-hotel-search:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Рассылка */
.subscribe {
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
  width: 1200px;
  text-align: center;
  background-image: url("../images/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-color: #000000;
  color:#ffffff;
}

.subscribe-title {
  margin: 0 auto;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-description {
  margin: 0 auto;
  font-size: 22px;
  color: #ffffff;
  width: 500px;
}

.subscribe-form {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.subscribe-form-field {
  margin: 0;
  width: 558px;
  padding: 16px 19px 16px 22px;
  font: inherit;
  font-size: 18px;
  font-weight: 400;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 10px 0 0 10px;
  border: none;
}

.subscribe-form-field:hover {
  background-color: #e6e6e6;
  color:rgba(0, 0, 0, 0.6);
}

.subscribe-form-field:focus {
  background-color: #e6e6e6;
  color:rgba(0, 0, 0, 0.6);
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

.subscribe-form-field:active {
  outline: 2px solid #000000;
  outline-offset: -2px;
}

.subscribe-form-field:invalid:not(:placeholder-shown):invalid {
  color: rgba(0, 0, 0, 0.6);
  outline: 2px solid #ff5757;
  outline-offset: -2px;
}

.subscribe-inner {
  text-align: center;
  background-color: #ffffff;
  padding-bottom: 141px;
}

.subscribe-text-inner {
  color: #000000;
  margin-bottom: 46px;
}

.subscribe-field-inner {
  background-color: #f2f2f2;
}

.button-subscribe-form {
  font-family: "PT Sans";
  font-size: 20px;
  line-height: 26px;
  background-color: #83b3d3;
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 0 10px 10px 0;
  color: #ffffff;
}

.button-subscribe-form:active,
.button-subscribe-form:focus,
.button-subscribe-form:hover {
  background-color: #68a2ca;
}

.button-subscribe-form:focus {
  outline: 3px solid #756257;
  outline-offset: -3px;
}

.button-subscribe-form:active {
  color: rgba(255, 255, 255, 0.3);
}

/*  Каталог */

/*Хлебные крошки*/
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-container {
  margin-bottom: 42px;
}

.breadcrumbs-item:not(:last-child) {
  position: relative;
  margin-right: 16px;
}

.breadcrumbs-link:not(.breadcrumbs-link-current)::after {
  position: absolute;
  content: " ";
  top: 7px;
  left: 26px;
  width: 5px;
  height: 8px;
  background-image: url("../images/nav-arrow.svg");
  background-repeat: no-repeat;
  opacity: 30%;
  pointer-events: none;
}

.breadcrumbs-link svg {
  width: 12px;
  height: 12px;
}

.breadcrumbs-link,
.breadcrumbs-link-current {
  font-size: 16px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  fill: rgba(255, 255, 255);
  padding: 0 8px 3px 3px;
  text-decoration: none;
  display: block;
}

.breadcrumbs-link:hover {
  color:rgba(255, 255, 255, 0.6);
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  outline: 3px solid #83b3d3;
  outline-offset: 4px;
  padding: 2px 8px 3px 8px;
  border-radius: 4px;
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:active {
  color:rgba(255, 255, 255, 0.3);
  fill: rgba(255, 255, 255, 0.3);
}

.filter-hotels-container {
  padding-top: 38px;
  padding-bottom: 75px;
  background-color: #88a4b9;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
}

.page-title-inner {
  font-family: "PT Sans";
  font-size: 60px;
  line-height: 68px;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  margin: 0 auto;
}

/* Форма Выбора Гостиниц Begin*/
.filter-hotels {
  display: grid;
  grid-template-columns: 150px 67px 144px 169px 292px 76px 161px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  padding-bottom: 26px;
}

.filter-price-title {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  padding-bottom: 35px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.filter-hotels-group {
  border: none;
  justify-self: start;
  padding: 0;
  margin: 0;
}

.catalog-filter-list,
.button-filter-list {
  list-style-type: none;
}

.button-filter-list {
  margin: 0;
  padding: 0;
}

.filter-hotels-infra {
  grid-column: 1/2;
}

.list-infra {
  display: grid;
  grid-template-columns: 150px;
  margin: 0;
  padding: 0;
}

.filter-hotels-type  {
  grid-column: 3/4;
}

.list-type {
  display: grid;
  grid-template-columns: 200px;
  margin: 0;
  padding: 0;
}

.filter-hotels-price {
  grid-column: 5/6;
}

.filter-hotels-apply-reset {
  grid-column: 7/8;
  justify-self: end;
  margin: 0;
  margin-top: 61px;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  padding-left: 4px;
}
/* Range */
.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: #ffffff;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.6);
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: -228px;
}

.toggle-max {
  top: -8px;
  left: -10px;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(255, 255, 255, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px 0 rgba(255, 255, 255, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px 0 rgba(255, 255, 255, 0.4);
}

.range-input-left,
.range-input-right {
  margin: 0;
  width: 145px;
  font: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  outline: none;
  appearance: textfield;
  box-sizing: border-box;
  padding: 10px 30px 11px 10px;
}

.range-input-left {
  border-radius: 4px 0 0 4px;
}

.range-input-right {
  border-radius: 0 4px 4px 0;
  margin-left: -2px;
}

.range-input-left::placeholder,
.range-input-right::placeholder {
  color: #ffffff;
  padding-left: 6px;
}

.range-input-left:hover,
.range-input-right:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.range-input-left:focus,
.range-input-right:focus {
  border: 2px solid #ffffff;
  box-shadow: 0 0 0 3px #81b3d2;
  outline: 2px solid #81b3d2;
  outline-offset: -4px;
}

.range-input-left:active,
.range-input-right:active {
  background-color: #756257;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
}

.range-input-left::-webkit-outer-spin-button,
.range-input-left::-webkit-inner-spin-button,
.range-input-right::-webkit-outer-spin-button,
.range-input-right::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input-max,
.range-input-min {
  position: relative;
}

.catalog-filter-label {
  font: inherit;
  font-size: 18px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.3);
}

.label-max,
.label-min {
  position: absolute;
  display: block;
  content: " ";
  top: 10px;
  right: 15px;
}

/* Control */
.control {
  position: relative;
  display: block;
  padding-left: 36px;
  padding-bottom: 10px;
}

/* Mark */
.control-mark {
  position: absolute;
  top: 5px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-mark:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-mark:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 12px;
  height: 10px;
  content: "";
  background-image: url("../images/tick.svg");
  background-repeat: no-repeat;
}

.control-input:focus + .control-mark {
  opacity: 0.6;
  box-shadow: 0 0 0 3px #83b3d3;
}

.control-input  {
  padding-bottom: 50px;
}

/* Radio */
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.button-filter-apply {
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  background-color: #83b3d3;
  width: 160px;
  height: 48px;
  border: none;
  border-radius: 4px;
  margin-bottom: 16px;
}

.button-filter-apply:hover {
  background-color: #68a2ca;
}

.button-filter-apply:focus {
  background-color: #68a2ca;
  border: 3px solid #ffffff;
  outline: none;
}

.button-filter-apply:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.button-filter-reset {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  width: 100px;
  height: 32px;
  text-transform: none;
  background: transparent;
  border: transparent;
  display: block;
  margin-left: 31px;
  margin-right: 29px;
  padding-top: 4px;
  padding-bottom: 5px;
}

.button-filter-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-filter-reset:focus {
  color: #FFFFFF;
  outline: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 4px;
}

.button-filter-reset:active {
  color: rgba(255, 255, 255, 0.3);
}
/* Форма Выбора Гостиниц END*/

/* Сортировка Гостиниц BEGIN */

.sorting-type-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 41px;
  padding-bottom: 72px;
  padding-right: 69px;
  padding-left: 72px;
  margin-bottom: ;
}

.result {
  margin-top: 0;
  margin-right: 191px;
  margin-bottom: 0;
  font-family: "PT Sans";
  font-size: 30px;
  line-height: 38px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-type-form-container {
  margin-right: 79px;
  width: 287px;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  /*width: 287px;*/
  margin-right: auto;
}

.select-control {
  width: 100%;
  padding: 11px 5px 14px 17px;
  font: inherit;
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  background-color: #FFFFFF;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  appearance: none;
}

.select-arrow svg {
  position: absolute;
  top: 24px;
  left: 257px;
  content: "";
  fill: rgba(0, 0, 0, 0.6);
  pointer-events: none;
}

.list-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.list-result-item {
  margin-right: 4px;
  text-align: center;
}

.list-result-item:nth-child(3n) {
  margin-right: 0;
}

.list-result-link {
  display: block;
  padding-top: 10px;
  width: 48px;
  height: 38px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.list-result-link-current {
  border-color: #000000;
  outline: none;
}

.list-result-link:hover:not(.list-result-link-current),
.list-result-link:focus:not(.list-result-link-current) {
  display: block;
  width: 48px;
  height: 38px;
  border: 2px solid #83b3d3;
  border-radius: 4px;
  outline: none;
}

/* Сортировка Гостиниц END */

.hotel-card-title-link {
  text-decoration: none;
  display: block;
  width: 100%;
  color: #000000;
}

.hotel-card-title {
  font-family: "PT Sans";
  font-size: 24px;
  line-height: 31px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.hotel-card-type,
.hotel-card-price {
  font-size: 18px;
  line-height: 23px;
  display: block;
  width: calc(calc(100% - 20px) / 2);
}

.button-to-favorites,
.button-in-favorites,
.button-details {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  border: none;
  border-radius: 4px;
  padding-right: 0;
  color: #ffffff;
}

.button-details {
  width: 133px;
  height: 37px;
  background-color: #756257;
}

.button-details:hover,
.button-details:focus,
.button-details:active {
  background-color: #615048;
}

.button-details:focus {
  outline: 3px solid #83b3d3;
}

.button-details:active {
  color:rgba(255, 255, 255, 0.3);
}

.button-to-favorites {
  width: 140px;
  height: 37px;
  background-color: #83b3d3;
}

.button-to-favorites:hover,
.button-to-favorites:focus,
.button-to-favorites:active {
  background-color: #68a2ca;
}

.button-to-favorites:focus {
  outline: 3px solid #756257;
}

.button-to-favorites:active {
  color:rgba(255, 255, 255, 0.3);
}

.button-in-favorites {
  width: 140px;
  height: 37px;
  background-color: #7db54f;
}

.button-in-favorites:hover,
.button-in-favorites:focus,
.button-in-favorites:active {
  background-color: #6C9E42;
}

.button-in-favorites:focus {
  outline: 3px solid #756257;
}

.button-in-favorites:active {
  color:rgba(255, 255, 255, 0.3);
}

.rating {
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  display: block;
  box-sizing: border-box;
  width: 160px;
  height: 37px;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
  text-transform: uppercase;
}

.button-load-more-container {
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 221px;
  padding-right: 218px;
  border-bottom: 1px solid #e6e6e6;
}

.button-load-more {
  font-family: "PT Sans";
  font-size: 20px;
  line-height: 26px;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  background-color: #83b3d3;
  padding-top: 18px;
  padding-bottom: 17px;
  margin: 0;
  width: 620px;
  border-radius: 4px;
}

.button-load-more:active,
.button-load-more:focus,
.button-load-more:hover {
  background-color: #68a2ca;
}

.button-load-more:focus {
  outline: 3px solid #756257;
}

.button-load-more:active {
  color: rgba(255, 255, 255, 0.3);
}

/*-- Пагинация */
.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 29px;
  padding-bottom: 73px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  text-align: center;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  width: 55px;
  height: 40px;
  padding-top: 15px;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 4px;
}

.pagination-link:active:not(.pagination-link-current),
.pagination-link:focus:not(.pagination-link-current),
.pagination-link:hover:not(.pagination-link-current) {
  background-color: #68a2ca;
}

.pagination-link:focus:not(.pagination-link-current) {
  outline: 3px solid #756257;
  border-radius: 4px;
}

.pagination-link:active:not(.pagination-link-current) {
  color:rgba(255, 255, 255, 0.3)
}

.pagination-link-current {
  color: #000000;
  background-color: #e5e5e5;
  outline: none;
}

/* Amount Control begin*/
.select-amount {
  position: relative;
  display: flex;
  align-items: center;
  width: 160px;
  padding-left: 9px;
}

.amount-control {
  width: 100%;
  padding: 10px 21px 10px 14px;
  font: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background-color: #FFFFFF;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  appearance: none;
}

.amount-form {
  position: relative;
}

.amount-hotels {
  position: absolute;
  top: 11px;
  right: 211px;
  width: 175px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  font-style: normal;
}

.select-arrow-amount svg {
  position: absolute;
  top: 21px;
  left: 134px;
  content: "";
  fill: rgba(0, 0, 0, 0.6);
  pointer-events: none;
}

.amount-control:hover,
.amount-control:focus,
.select-control:hover,
.select-control:focus {
  border-color: #83b3d3;
}

.amount-control:focus,
.select-control:focus {
  outline: none;
}

.select-arrow-amount svg,
.select-arrow svg,
.amount-control:active,
.select-control:active {
  color: rgba(51, 51, 51, 0.3);
  border-color: #e6e6e6;
  fill: rgba(0, 0, 0, 0.3);
}

/* Amount Control end*/

/* Результат сортировки BEGIN */
.hotel-list-side-indent {
  padding-right: 92px;
  padding-left: 92px;
  padding-bottom: 4px;
}

.hotel-list {
  margin: 0;
  padding-bottom: 54px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 58px;
  grid-row-gap: 50px;
  grid-auto-flow: row;
}

.hotel-list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-row-gap: 16px;
}

.hotel-card-image {
  width: 100%;
}

.hotel-card-link {
display: block;
box-sizing: border-box;
width: 300px;
height: 206px;
}

.hotel-card-image:hover {
  opacity: 60%;
}

.hotel-card-link:focus {
  outline: 3px solid #83b3d3;
}

.hotel-card-image:active {
  opacity: 30%;
}

/* Результат сортировки END */

/* "Звездочки" Begin*/
.star-list {
  display: flex;
  margin: 0;
  margin-top: 7px;
  padding: 0;
  list-style-type: none;
  justify-self: center;
}

.star-list-item:not(:last-child) {
  margin-right: 7px;
}
/* "Звездочки" End*/

/* Footer Begin */
.page-footer {
  display: flex;
  margin: 0 auto;
  padding-top: 37px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.footer-social {
  width: 168px;
  padding-top: 0px;
  padding-right: 13px;
  padding-left: 58px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 18px;
  height: 18px;
}

.footer-social-item:not(:last-child) {
  margin-right: 27px;
}

.footer-social-link {
  display: flex;
  flex-direction: row;
  width: 40px;
  height: 40px;
}

.footer-social-link-img {
  margin: auto;
}
.footer-social-link svg {
  fill:#83b3d3;
}

.footer-social-link:hover svg,
.footer-social-link:focus svg {
  fill: #68a2ca;
}

.footer-social-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.footer-social-link:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contakt-tel {
  width: 720px;
  padding-top: 3px;
}

.footer-contakt-tel-link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.footer-contakt-tel-link:hover {
  color: #756257;
}

.footer-contakt-tel-link:focus {
  display: block;
  width: 331px;
  height: 40px;
  outline: 3px solid #83b3d3;
  outline-offset: 10px;
  border-radius: 10px;
  color: #756257;
}

.footer-contakt-tel-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.html-academy-link {
  display: block;
  width: 115px;
  height: 33px;
  margin-left: 53px;
  padding-top: 5px;
}

.html-academy-link:hover svg {
  fill: #756257;
}

.html-academy-link:focus {
  outline: 3px solid #83b3d3;
  outline-offset: 10px;
  border-radius: 10px;
}

.html-academy-link:focus svg {
  fill: #756257;
}

.html-academy-link:active svg {
  fill: rgba(117, 98, 87, 0.3);
}
/* Footer END */

/*-- Модальное окно --*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  background-color: #FFFFFF;
}

.modal-search {
  width: 715px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-content {
  position: relative;
  padding: 70px;
}

.modal-title {
margin-top: -8px;
margin-right: 0;
margin-bottom: 99px;
margin-left: -2px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 1;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  opacity: 30%;
}

.field-group-data {
  position: relative;
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 155px 401px;
  grid-template-rows: 50px 40px;
}

.search-type-data {
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
}

.search-form-data {
  display: inline-block;
  margin: 0;
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  width: 401px;
  height: 50px;
  padding-left: 19px;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: none;
  grid-column: 2/3;
  grid-row: 1/2;
}

.search-form-date-wrapper {
  width: 401px;
  height: 50px;
  position: relative;
}

.button-date {
  position: absolute;
  top: 18px;
  right: 19px;
  width: 16px;
  height: 15px;
  border: none;
  background-color: transparent;
  background-image: url("../images/date.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 30%;
  cursor: pointer;
}

.message {
  font: inherit;
  font-size: 16px;
  font-weight: 400;
  grid-column: 2/3;
  grid-row: 2/3;
}

.message-error {
  color: #ff5757;
}

.field-group-people {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 155px 133px 56px 54px 43px 133px;
  grid-template-rows: 50px 40px;
  position: relative;
}

.search-type-people-adults {
  grid-column: 1/2;
  align-self: center;
}

.search-form-people-adults {
  grid-column: 2/3;
}

.search-type-people-child {
  grid-column: 4/5;
  align-self: center;
}

.search-form-people-child {
  grid-column: 6/7;
}

.search-type-people {
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.search-form-people {
  box-sizing: border-box;
  padding-right: 35px;
  padding-left: 35px;
  margin: 0;
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  width: 133px;
  height: 50px;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: none;
}

.message-warning {
  color: #333333;
}

.tooltip-info {
  position: relative;
  width: 25px;
  height: 25px;
  border: none;
  background-color: #68a2ca;
  border-radius: 50%;
  background-image: url("../images/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  grid-column: 5/6;
  grid-row: 1/2;
  align-self: center;
  outline:none;
}

/*  Кнопки Плюс - Минус */
.plus-minus-wrapper {
  width: 133px;
  height: 50px;
  position: relative;
}

.plus-child,
.plus-adults {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  background-image: url("../images/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.minus-child,
.minus-adults {
  position: absolute;
  top: 13px;
  left: 10px;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  background-image: url("../images/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.minus-adults:hover,
.minus-child:hover {
  background-image: url("../images/minus-black.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.plus-adults:hover,
.plus-child:hover {
  background-image: url("../images/plus-black.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.minus-adults:focus,
.minus-child:focus {
  background-image: url("../images/minus-black.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid #83b3d3;
  border-radius: 4px;
  outline: none;
}

.plus-adults:focus,
.plus-child:focus {
  background-image: url("../images/plus-black.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid #83b3d3;
  border-radius: 4px;
  outline: none;
}

.minus-adults:active,
.minus-child:active {
  opacity: 20%;
}

.plus-adults:active,
.plus-child:active {
  opacity: 20%;
}
/*  Кнопки Плюс - Минус END*/

.search-form-people::placeholder,
.search-form-data::placeholder {
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.search-form-people:hover,
.search-form-data:hover {
  background-color: #e5e5e5;
  color:rgba(0, 0, 0, 0.6);
}

.search-form-people:focus,
.search-form-data:focus {
  background-color: #e5e5e5;
  color:rgba(0, 0, 0, 0.6);
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

.search-form-people:active,
.search-form-data:active {
  outline: 2px solid #000000;
  outline-offset: -2px;
}

.button-find {
  display: block;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
  background-color: #83b3d3;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 575px;
  border-radius: 10px;
}

.button-find:hover {
  background-color: #68a2ca;
}

.button-find:focus {
  outline: 3px solid #756257;
}

.button-find:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Поповер в модальном окне */

.modal-popover {
  position: absolute;
  width: 256px;
  min-height: 100px;
  top: 43px;
  left: -115px;
  box-sizing: border-box;
  display: none;
  border-radius: 10px;
  background-color: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
}

.modal-popover-open {
  display: block;
} /* включает поповер */

.modal-popover::before {
  position: absolute;
  content: " ";
  top: -9px;
  left: 118px;
  width: 20px;
  height: 10px;
  background-image: url("../images/triangle-black.png");
  background-repeat: no-repeat;
}

.modal-popover-content {
  padding: 15px 18px 18px 22px;
}

.modal-popover-text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-align: left;
  text-transform: none;
}
